<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="box_title">
        <h1>証券番号検索</h1>
    </div>

    <header>
        <div class="menu">
            <ul>
                <li　class="nav-item">
                    <a href="" target=""><br>ログイン</a>
                </li>
                <li　class="nav-item">
                    <a href="" target=""><br>ログアウト</a>
                </li>
                <li　class="nav-item">
                    <a href="" target=""><br>ユーザー登録</a>
                </li>
                <li　class="nav-item">
                    <a href="" target=""><br>ユーザー登録</a>
                </li>
            </ul>
        </div>
    </header>

    {% block content %}}

    {% endblock %}}

</body>

</html>